.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
       @font-face {
      font-family: 'Yekan';
      src: url('fonts/Yekan.eot') format('eot'),
      url('fonts/Yekan.ttf') format('truetype'),
      url('fonts/Yekan.woff') format('woff');
      }
      @font-face {
        font-family: 'Iranian Sans';
        src: url('fonts/Iranian Sans.ttf') format('truetype'),
        }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color1{
  color: black;
  background-color:#ffffff;
}
.color2{
  color: black;
  background-color:#e1e5f2;
}
.color3{
  color: black;
  background-color:#bfdbf7;
}

.color4{
  background: linear-gradient(-45deg, #216780 30%, #5295a0  90%);
}
.color5{
  color: white;
  background-color:#022b3a;
} 
.ourfont1{
  font-family: "Mitra";
}

.ourfont2{
  font-family: 'Scheherazade', serif;
}

.ourfont3{
  font-family:"Morvarid";
}