.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

	
@font-face {
  font-family: 'Zar';
  src: url('fonts/Zar.eot') format('eot'),
  url('fonts/Zar.ttf') format('truetype'),
  url('fonts/Zar.woff') format('woff');
  }
	
  @font-face {
    font-family: 'pixelboy-Shams';
    src: url('fonts/pixelboy-Shams.eot') format('eot'),
    url('fonts/pixelboy-Shams.ttf') format('truetype'),
    url('fonts/pixelboy-Shams.woff') format('woff');
    }
    @font-face {
      font-family: 'Morvarid';
      src: url('fonts/Morvarid.eot') format('eot'),
      url('fonts/Morvarid.ttf') format('truetype'),
      url('fonts/Morvarid.woff') format('woff');
      }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color1{
  color: black;
  background-color:#ffffff;
}
.color2{
  color: black;
  background-color:#e1e5f2;
}
.color3{
  color: black;
  background-color:#bfdbf7;
}

.color4{
  background: linear-gradient(-45deg, #216780 30%, #5295a0  90%);
}
.color5{
  color: white;
  background-color:#022b3a;
}