.navbar1{
    background-color:#1f7a8c;
    top:-1px;
     max-height: 60px;

}
.icon{
padding-right: 100rem;
 position: absolute;
margin-top: 0.5rem;

}
.name3{
    padding-right:20rem;
  
  color: black;

    margin-top: 00.5rem;
    font-weight: bold;
}