
.navbar-brand{

    font-size: 500px;
    
    }
    .cat1:hover{

    box-shadow: 0px 1px 30px 0px rgb(116, 116, 225) !important; 
    }
    .cat1{
padding-top: 10px;
top: 100px;

    opacity: 1;
    width: 200px;
   padding-bottom: 200px;
    margin-left: 600px;
    margin-bottom: 20px;
 

    }
    
    .navbar {
        background-color:#1f7a8c;
        top:-1px;
        max-height: 60px;

    }
    .close{
        width: 100px;
    }
    .nav-item{
    
   
    padding-bottom: 20px;
    }
.nav-item1{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
}
    /* .form-control{
        padding-left: 420px;

    } */
    .name{
        
        color: black;
        
    }
    .name1{
        color: black; 
        
 }
    .nav-link{
        padding-top: 5px;
        width: 10px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
    @media (max-width :420px) 
    {
        .searchbar{
            display:none;
        }.nav-item{
            display: none;
        }

      }
    
    @media (max-width :768px) 
    {
        .searchbar{
            display:none;
        }
        .nav-link{
            width: 30px;
        }
      }
      @media (max-width :800px) 
      {
          .searchbar{
              display:none;
          }
          .nav-link{
            width: 30px;
        }
        }
      
      