
.navbar-brand{

    font-size: 500px;
    
    }
    .header{
    padding-left: 225px;
    font-weight: bolder;
   font-family:Verdana;
    }
    .cat1:hover{
    box-shadow: 0px 1px 30px 0px rgb(116, 116, 225) !important; 
    }
    .cat1{
    padding-top: 10px;
    height: 260px;
    opacity: 1;
    width: 200px;
   padding-bottom: 200px;
    margin-left: 140px;
    margin-bottom: 20px;

    }
    
    .navbar {
        background-color:#1f7a8c;
        top:-1px;
        max-height: 80px;

    }
    
    .input{
        width: 400px;
        height: 40px;
       margin-left: -190px;
       margin-top:4px;
   
    }
  
.nav-item1{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
}
    /* .form-control{
        padding-left: 420px;

    } */
    .name{
        
        color: black;
    
        
    }
    .squere1{
        margin-left: -12px;
        margin-right: -12px;
        width: 180px;
        height: 180px;
        padding-top:4px;
        padding-left:5px;
        padding-right:5px;
    }
    .card-title3{
        font-size: 15px;
        color: black;
        font-weight: bold;
       text-align: center;
       margin-left: -20px;
    }
    .card-title4{
        
        color: black;
        font-weight: bold;
        text-align: center;
        margin-left: -20px;
    }
    .nav-link{
        padding-top: 5px;
        width: 10px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
    @media (max-width :420px) 
    {
        .searchbar{
            display:none;
        }.nav-item{
            display: none;
        }

      }
    
    @media (max-width :768px) 
    {
        .searchbar{
            display:none;
        }
        .nav-link{
            width: 30px;
        }
      }
      @media (max-width :800px) 
      {
          .searchbar{
              display:none;
          }
          .nav-link{
            width: 30px;
        }
        }
      
      