
/* .btn-default
 
{
 margin-top: 100px;
background-color: #9dc3e9;
}
.head{
    margin-top: 400px;
}

.card-profile{
  margin-top: 80px;
  height: 500px;
 left: 800px;
}
.card-body{
    margin-top: -350px;
    padding-right: -100px;
    
} */
.rounded-circle{
   
   margin-bottom: 15px;
   margin-left: 10px;

    margin-top: 2rem;
    margin-right: 3rem;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.cardp{
   left: 63rem;
   border:2px solid #fff;

    box-shadow: 20px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}
.Tabz{
    margin-left: 100px;
    margin-top: -21rem;
}
@media (max-width :400px) 
{
    .cardp{
        left: -7px;
    }
    .Tabz{
        margin-left: 10px;
        margin-top: -1rem;
    }
    .description{
        margin-left: 35px;
        font-size: 20px;
        
       
    }
  }
  @media (max-width :780px) 
{
    .cardp{
        left: -7px;
    } 
    .Tabz{
        margin-left: 10px;
        margin-top: -1rem;
    }
   
  }
  @media (max-width :800px) 
{
    .cardp{
        left: -7px;
    } 
    .Tabz{
        margin-left: 10px;
        margin-top: -1rem;
    }
  }
