



@media (min-width :360px)
{
    .cardp{
        left: 31px;
          height: 240px;
          width: 300px;
        border-radius: 2%;
         margin-top: 3rem;
         background-color:rgb(238, 243, 250);
     }

     .rounded-circle1{
         width: 120px;
         height: 120px;
         display: "block";
        margin-bottom: 15px;
        margin-left: 3px;
         margin-top: 1rem;
        
     }
     .username{
         margin-top: -18px;
     }
     .btn1{
        width: 69px;
        height: 40px;
    }
    .line{
        margin-top:-1px;
    }
    .decsciptionmine{
        font-size: 14px;
        font-family: 'Yekan';
    }
       
.heading{
    font-size: 15;

}
.heading1{
    margin-left: -12px;
    }
    .heading2{
    margin-left: 90px;
    padding-right: 10px;
    }
    .heading3{
    margin-left: 70px;
    }
    .Tabz{

    margin-left: 14px;
    margin-top: 25px;
    
}
  }


  @media (min-width :768px) 
  {
      
    .cardp{
        left: 430px;
          height: 240px;
          width: 300px;
        border-radius: 2%;
         margin-top: 3rem;
         background-color:rgb(238, 243, 250);
     }

     .rounded-circle1{
         width: 120px;
         height: 120px;
         display: "block";
        margin-bottom: 15px;
        margin-left: 3px;
         margin-top: 1rem;
        
     }
     .username{
         margin-top: -18px;
     }
     .btn1{
        width: 69px;
        height: 40px;
    }
    .line{
        margin-top:-1px;
    }
    .decsciptionmine{
        font-size: 14px;
        font-family: 'Yekan';
    }
       
.heading{
    font-size: 15px;

}
.heading1{
    margin-left: -12px;
    }
    .heading2{
    margin-left: 90px;
    padding-right: 10px;
    }
    .heading3{
    margin-left: 70px;
    }

.Tabz{

    margin-left: 14px;
    margin-top: 60px;
    
}




}
    @media (min-width :960px) 
    {
        
        .rounded-circle1{
   
            width: 120px;
            height: 120px;
            display: "block";
           margin-bottom: 15px;
           margin-left: -10px;
            margin-top: 1rem;
            margin-right: 4rem;
            border:2px solid #fff;
            box-shadow: 10px 10px 5px #ccc;
            -moz-box-shadow: 10px 10px 5px #ccc;
            -webkit-box-shadow: 10px 10px 5px #ccc;
            -khtml-box-shadow: 10px 10px 5px #ccc;
        }
        
        .cardp{
           left: 55rem;
             height: 230px;
             width: 500px;
           border-radius: 2%;
            margin-top: 3rem;
            background-color:rgb(238, 243, 250);
        }
        .username{
            font-family: 'Yekan';
            font-weight: bold;
            font-size: 15px;
            margin-top: -1rem;
           
            
        }
        .email{
            font-family: 'Yekan';
            font-weight: bold;
            font-size: 13px;
        }
        .decsciptionmine1{
            font-size: 18px;
            font-family: 'Yekan';
            margin-left: -5px;
        }
        .decsciptionmine2{
            font-size: 18px;
            font-family: 'Yekan';
            margin-left: -30px;
        }
        .decsciptionmine3{
            font-size: 18px;
            font-family: 'Yekan';
            margin-left: 15px;
        }
        .custom-btn{
            max-width: 80%;
            padding-left:8px;
            padding-right:10px;
        }
        .custom-btn1 {
            max-width: 80%;
            padding-left:3px;
            padding-right:4px;
        }
        .btn1{
            width: 80px;
            height: 40px;
        }
        .heading{
            font-size: 18;
        }
        
        .Tabz{
        
            margin-left: 90px;
            margin-top: -540px;
            
        }
        
        .line{
            margin-top:-5px;
        }
        .heading1{
        margin-left: -10px;
        }
        .heading2{
        margin-left: -80px;
        
        }
        .heading3{
        margin-left: -100px;
        }
        .mygroups{
            margin-left: 1px;
        
        }
           
      }



