



.rounded-circle{
   
   margin-bottom: 15px;
   margin-left: 10px;
    margin-top: 2rem;
    margin-right: 3rem;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

.cardp{
   left: 60rem;
     border:2px solid #fff;
   border-radius: 3%;
    margin-top: 3rem;
    background-color:rgb(238, 243, 250);
}
.decsciptionmine{
    font-size: 18px;
}
.custom-btn{
    max-width: 80%;
    padding-left:8px;
    padding-right:10px;
}
.custom-btn1 {
    max-width: 80%;
    padding-left:3px;
    padding-right:4px;
}
.Tabz{

    margin-left: 100px;
    margin-top: -15rem;
}
.line{
    margin-top:60px;
}
@media (max-width :400px) 
{
    .cardp{
        left: -7px;
        height: 400px;

    }
  
    .decsciptionmine{
        margin-left: 30px;
        font-size: 12px;
       
    }
    .line{
        margin-top: 35px;
    }
    
  }
  @media (max-width :780px) 
{
    .cardp{
        left: -7px;
        height: 300px;
       
    } 

    .Tabz{

        margin-left: 10px;
        margin-top: -1rem;
    }
    .line{
        margin-top: 40px;
    }
   
  }
  @media (max-width :800px) 
{
    .cardp{
        left: -7px;
        height: 450px;
       
    } 

    .Tabz{

        margin-left: 10px;
        margin-top: 12rem;
    }
  }
