.car:hover{
    box-shadow: 1px 5px 30px 1px rgb(55, 26, 100) !important; 
}

    .card-title3{
        font-family: 'Morvarid';
        color: #000000;
        font-size: 1px;
        overflow:hidden; 
        white-space:nowrap; 
        text-overflow: ellipsis;
        direction: rtl;
        padding-left: 20px;
        padding-top: 5px;
    
}.card-titl0{
    
    color: black;
 font-size: 13px;
}

.car{
    
    padding-top: 10px;
    opacity: 1;
    width: 120px;
    height: 144px;
   
 
}
.col-xl-8-gholi{
   margin-left: -200px;
}

.squer{
  
    width: 100px;
    height: 80px;
    padding-top:5px;
    padding-left:17px;

   
}
.slid{
   margin-left: 300px;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

.sr-only{
    margin-left: 500px;
    color: black;
}
@media (max-width :420px) 
{
    .col-xl-8-gholi{
        margin-left: 19px;
    }
    
    .slid{
        margin-right: -140px;
    }
     .brand1{
       margin-left: -10px;
     }
    
  }

@media (max-width :768px) 
{
    .col-xl-8-gholi{
    margin-left: 290px;
   
 }
 
 .car{
    width: 120px;
    height: 144px;
    margin-left: -300px;
 }
 .brand1{
   margin-left: -10px;
 }
    
    }
  @media (max-width :800px) 
  {
    .col-xl-8-gholi{
        margin-left: -190px;
       
     }
     
     .car{
        width: 120px;
        height: 144px;
        margin-left: -300px;
     }
     .brand1{
       margin-left: -10px;
     }

  
    }
  
    
