.body{

    background: radial-gradient#e5e5e5;
}
.cat:hover{
    box-shadow: 0px 1px 30px 0px rgb(116, 116, 225) !important; 
}

.slider-brand{
    font-size: 30px;
    margin-bottom: 80px;
    margin-left: -900px;
}

.slick-list {
    box-sizing: initial;
    padding: 25px 0px;
  }
.cat{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    
}

.card-title1{
    color: #262626;
    display: flex;
    overflow: hidden;
    font-size: 15px;
    padding-left:20px ;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}
.card-title2{
    color: #262626;
    display: flex;
    overflow: hidden;
    font-size: 20px;
    padding-left:20px ;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.container{
    margin-top: 30px;
}
.squere {
    display:flex;
    margin:auto;
    width: 180px;
    height: 180px;
    padding-top:4px;
    padding-left:5px;
    padding-right:5px;
   
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}
.card-body{
    height: 100px;
}
