.body{

    background: radial-gradient#e5e5e5;
}
.cat:hover{
    box-shadow: 0px 1px 30px 0px rgb(116, 116, 225) !important; 
}

.slider-brand{
    font-size: 30px;
    margin-bottom: 80px;
    margin-left: -900px;
}

.slick-list {
    box-sizing: initial;
    padding: 25px 0px;
  }
.cat{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    
}

.card-title{
    color: #262626;
    display: flex;
    overflow: hidden;
    font-size: 15px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:-20px;
    margin-bottom: 0 !important;
}
.card-text{
    margin-left:-80px;
    font-size:13px ;
}

.container{
    margin-top: 30px;
}
img {
    display:flex;
    margin:auto;
    width: 150px;
    height: 150px;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

