/*.body{

    background: radial-gradient#e5e5e5;
}*/
.cat:hover{
    box-shadow: 1px 5px 30px 1px rgb(116, 116, 225) !important; 
}

.card-title2{
    font-size: 15px;
    color: black;
    font-family: 'Morvarid';
    
}.card-title1{
    font-family: 'Morvarid';
    color: black;
 font-size: 20px;
}

.title{
    color: black;

}

.cat{
    
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    height: 280px;

}

.container{
    margin-top: 30px;
    
}
.squere {
  
    width: 180px;
    height: 180px;
    padding-top:5px;
    padding-left:15px;
    padding-right:-25px;
   
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

.brand{
   margin-top: 100px;
    margin-left: 900px;
   margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
font-family: 'Morvarid';
}
.sr-only{
    margin-left: 500px;
    color: black;
}
@media (max-width :420px) 
{
    .container{
        width: 120px;
    }
    .slide{
       display: contents;
       
    } 
    
  }

@media (max-width :768px) 
{
    .container{
        width: 220PX;
    }
    .slide{
        margin-left: -230px;
        margin-right: -230px;
    }
    
    }
  @media (max-width :800px) 
  {
      .container{
        width: 220PX;
        
      }
      .slide{
        margin-left: -230px;
        margin-right: -230px;
    }
    .brand{
        display: contents;
    }
  
    }
  
  