body{

    background: radial-gradient#e5e5e5;
}
.card:hover{
    box-shadow: 0px 1px 30px 0px rgb(223, 13, 41) !important; 
}
.slider-brand{
    font-size: 30px;
margin-bottom: 80px;
}

.slick-list {
    box-sizing: initial;
    padding: 25px 0px;
  }
.card{
    text-align: center;
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    color: white;
}

.card-title{
    color: #262626;
    display: flex;
    overflow: hidden;
    font-size: 20px;
    line-height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
}

.container{
    margin-top: 30px;
}
img {
    display:flex;
    margin:auto;
    width: 150px;
    height: 150px;
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

