

.card-title2{
    font-size: 14px;
    direction: rtl;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    font-family: 'Yekan';  

}.card-title1{
    font-family: 'Yekan';
    color: #000000;
    padding-top: 10px;
    font-size: 16px;
    direction: rtl;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
  
   
}
.cat{
    
    
    width: 150px;
    height: 240px;

}

.container{
    margin-top: 20px;
    
}

.sr-only{
    margin-left: 500px;
    color: black;
}
    @media (min-width :360px)
    {
        .container{
            width: 360px;
            margin-left:-30px;
            margin-top: 20px;
           
        }
        .slide{
            margin-left: 20px;
            margin-right: 20px;
            
          
        }
        .cat{
            width: 80px;
            height: 128px;
           
        
        }
        .squere:hover{
            box-shadow: 0 1px 10px rgb(63, 63, 63) !important; 
            transform:scale(1, 1);
        
        }
        .squere{
            width: 80px;
            height: 128px;
        }
        .card-title1{
           
            font-size: 11px;
        }
        .body{
            margin-right: 1px;
        }
        .slick-prev:before {
            
        top: -30px;
        left: 10px;
        }
        .slick-next:before{
         right: -40px;
        top: -30px;
        }
        .brand{
            margin-top: 10px;
           padding-left: 70px;
           margin-bottom: 10px;
            font-weight: bold;
            font-size: 17px;
            direction: rtl;
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow: ellipsis;
        
        }
        .slick-prev:before {
            color: black !important;
          font-size: 5px;
            position: absolute;
            top: -40px;
            margin-left: -25px;
        }
        .slick-next:before{
            
            color: black !important;
            font-size: x-small;
             position: absolute;
             top: -40px;
            margin-left: 13px;
        }

.card-title2{
    font-size: 15px;
    direction: rtl;
    text-align: center;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    font-family: 'Yekan';  

}.card-title1{
    font-family: 'Yekan';
    color: #000000;
    padding-top: 10px;
    padding-right: -30px;
    font-size: 16px;
    direction: rtl;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
  
   
}
      }
  
      @media (min-width :414px)
      {
          .container{
              width: 390px;
              margin-left:-10px;
              margin-top: 20px;
             
          }
          .slide{
              margin-left: 10px;
              margin-right: 10px;
              
            
          }
          .cat{
              width: 70px;
              height: 112px;
             
          
          }
          .squere:hover{
              box-shadow: 0 1px 10px rgb(63, 63, 63) !important; 
              transform:scale(1, 1);
          
          }
          .squere{
              width: 70px;
              height: 112px;
          }
          
          .body{
              margin-right: 1px;
          }
          .slick-prev:before {
              
          top: -90px;
          left: 10px;
          }
          .slick-next:before{
           right: -40px;
          top: -30px;
          }
          .brand{
              margin-top: 10px;
             padding-left: 70px;
             margin-bottom: 10px;
              font-weight: bold;
              font-size: 17px;
              direction: rtl;
              overflow:hidden; 
              white-space:nowrap; 
              text-overflow: ellipsis;
          
          }
          .slick-prev:before {
              color: black !important;
            font-size: 5px;
              position: absolute;
              top: -40px;
              margin-left: -25px;
          }
          .slick-next:before{
              
              color: black !important;
              font-size: x-small;
               position: absolute;
               top: -40px;
              margin-left: 13px;
          }
  
  .card-title2{
      font-size: 13px;
      direction: rtl;
      text-align: center;
      overflow:hidden; 
      white-space:nowrap; 
      text-overflow: ellipsis;
      font-family: 'Yekan';  
  
  }.card-title1{
      font-family: 'Yekan';
      color: #000000;
      padding-top: 10px;
      padding-right: -30px;
      font-size: 14px;
      direction: rtl;
      overflow:hidden; 
      white-space:nowrap; 
      text-overflow: ellipsis;
  }
  .card-titl{
    font-family: 'Yekan';
    color: #000000;
    padding-top: 10px;
    margin-left: 19px;
    text-align: center;
    font-size: 14px;
    direction: rtl;
 
  
   
}
        }
    
  
        
      @media (min-width :768px) 
      {
          .container{
            width: 330px;
            margin-left:20px;
            margin-top: 100px;
            
          }
          .slide{
            margin-left: -300px;
            margin-right: -310px;
        }
        .cat{
            width: 100px;
            height: 160px;
        }
        .squere{
            width: 100px;
            height: 160px;
        }
        .card-title1{
           
            font-size: 14px;
        }
        .body{
            margin-right: 5px;
        }
        .brand{
            margin-top: 100px;
           padding-left: 600px;
           margin-bottom: 10px;
            font-weight: bold;
            font-size: 22px;
            direction: rtl;
            overflow:hidden; 
            white-space:nowrap; 
            text-overflow: ellipsis;
        
        }
        }.slick-prev:before {
            color: black !important;
            font-size: 25px;
            position: absolute;
            top: -40px;
            margin-left: -25px;
        }
        .slick-next:before{
            
            color: black !important;
            font-size: 25px;
             position: absolute;
             top: -40px;
            margin-left: 13px;
        }
        
        
  
        @media (min-width :960px) 
        {
            .container{
              width: 900px;
              margin-left:100px;
              margin-top: -55px;
              
              
            }
            .slide{
              margin-left: -310px;
              margin-right: -310px;
              margin-bottom: -80px;
          }
          .cat{
              width: 130px;
              height: 190px;
          }
          .squere{
              width: 130px;
              height: 190px;
          }
          .brand{
              
              margin-left: 500px;
             
            
          }
          .body{
              margin-left: -1px;
          }

.card-title2{
    font-size: 16px; 

}.card-title1{
    font-size: 16px;
}
.brand{
    margin-top: 100px;
   padding-left: 675px;
   margin-bottom: 10px;
    font-weight: bold;
    font-size: 24px;
    direction: rtl;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;

}   
.slick-prev:before {
    color: black !important;
    font-size: 35px;

position: absolute;
top: -40px;


}
.slick-next:before{
    color: black !important;
    font-size: 35px;
position: absolute;
top: -40px;


}




    
          }
    
    

