.body{

    background: radial-gradient#e5e5e5;
}
.cat:hover{
    box-shadow: 0px 1px 30px 0px rgb(116, 116, 225) !important; 
}



.title{
    color: black;
}

.cat{
    
    padding-top: 10px;
    opacity: 1;
    width: 200px;
    
}

.container{
    margin-top: 30px;
}
.squere {
    display:flex;
    margin:auto;
    width: 180px;
    height: 180px;
    padding-top:4px;
    padding-left:5px;
    padding-right:5px;
   
}
.slick-prev:before, .slick-next:before {
    color: black !important;
}

.brand{
    margin-left: -995px;
}
@media (max-width :420px) 
{
    .container{
        width: 120px;
    }
    .slide{
       display: contents;
       
    } 
    
  }

@media (max-width :768px) 
{
    .container{
        width: 220PX;
    }
    .slide{
        margin-left: -230px;
        margin-right: -230px;
    }
    
    }
  @media (max-width :800px) 
  {
      .container{
        width: 220PX;
        
      }
      .slide{
        margin-left: -230px;
        margin-right: -230px;
    }
    .brand{
        display: contents;
    }
  
    }
  
  