.avatar-Q{
    width: 190px;
    height: 100px;
    margin-top: -40px;
    margin-left: -5px;
    border-radius: 3%;
}
    @media (min-width:960px){
        
       .avatar-Q{
        width: 750px;
        height: 200px;
        margin-top: -90px;
        margin-left: 10px;
        border-radius: 3%;
       }
        .rowin{
            margin-left: 400px;
            margin-top: 10px;
        }
        .name-Q{
            margin-top: 10px;
        }
        .b{
            margin-right: 100px;
            margin-bottom: -65px;
        }
    }