.avatar-Q{
    width: 190px;
    height: 100px;
    margin-top: -40px;
    margin-left: -5px;
    border-radius: 3%;
}
    @media (min-width:960px){
        
       .avatar-Q{
        width: 750px;
        height: 200px;
        margin-top: -90px;
        margin-left: 10px;
        border-radius: 3%;
       }
       .pic{
           width: 150px;
           margin-top: 20px;
         
       }
        .rowin{
            margin-left: 280px;
            margin-top: 10px;
        }
        .fg{
            width: 600px;
           
        }
       
        .name-Q1{
            margin-top: 20px;
            margin-bottom: -20px;
        }
        .b{
            margin-right: 370px;
            margin-bottom: -50px;
            
        }
        .b1{
            margin-right: 240px;
            margin-bottom:10px;
            margin-top: -5px;
        }
        .b2{
            margin-top: -77px;
            margin-right: 160px;
        }
       
    }