.cardc {
    overflow-x: scroll;
    max-height: 300px;
    padding: 3rem;
    background-color:rgb(238, 243, 250);
    margin-left: 55rem;
    margin-top: 55px;
    width: 500px;

}

.my-groups{
    font-family: 'Yekan';
    font-size: 15px;
    font-weight: bold;
    margin-top: -45px;
}


@media (min-width :360px) 
{
    .cardc{
        overflow-x: scroll;
        width: 300px;
        margin-left: 2rem;
        margin-top: 30px;
        height: 100px;
    }
    .line1{
        margin-top:-140px;
        margin-left: -5px;
        width:100%;
       
    }
    .my-groups{
        font-size: 15px;
        margin-top: -170px;
    }

  }
@media (min-width :768px) 
{
    .cardc{
        width: 300px;
        margin-left: 4rem;
        margin-top: -230px;
        height: 230px;
    }
    .line1{
        margin-top:-140px;
        margin-left: -5px;
        width:100%;
       
    }
    .my-groups{
        font-size: 15px;
        margin-top: -170px;
    }

  }
  @media (min-width:960px){
    .cardc {
        overflow-x: scroll;
        max-height: 300px;
        padding: 3rem;
        background-color:rgb(238, 243, 250);
        margin-left: 55rem;
        margin-top: 55px;
        width: 500px;
    
    }
    .line1{
        margin-top:-150px;
        margin-left: -50px;
        width: 200px;
    }
    .my-groups{
        font-family: 'Yekan';
        font-size: 15px;
        font-weight: bold;
        margin-top: -155px;
    }
    
  }