.cardc {
    overflow-x: scroll;
    max-height: 300px;
    padding: 3rem;
    background-color:rgb(238, 243, 250);
    margin-left: 55rem;
    margin-top: 55px;
    width: 300px;

}
.line1{
    margin-top:-180px;
    margin-left: -45px;
}


@media (min-width :768px) 
{
    .cardc{
        width: 200px;
    }

  }