
@media (min-width :360px) 
{
    .Noqoute{
        margin-top: 170px;
        margin-left: -400px;
    } 
   
  }



@media (min-width :768px) 
{
    .booktitle{
        font-size: 14px;
    }
    .date{
        font-size: 12px;
    }
    .like{
        padding-left: 350px;
    }
    .quote{
        width: 300px;
    }
    .Noqoute{
        margin-top: 170px;
        margin-left: -100px;
    } 
   
  }
  @media (min-width :960px) 
{
    .Noqoute{
        margin-top: 200px;
        margin-left: 10px;
    } 
   
  }


