.root{
    height: 600px;
    background-color:rgb(238, 243, 250);
    position: fixed;
    border:16px solid #fff;
    border-radius: 3%;
    
}

@media (min-width :360px) 
{
    .root{
        height: 500px;
        width: 340px;
        background-color:rgb(238, 243, 250);
        border:16px solid #fff;
        border-radius: 3%;
    }
   

  }
@media (min-width :768px) 
{
    .root{
        height: 600px;
        background-color:rgb(238, 243, 250);
        border:16px solid #fff;
        border-radius: 3%;
    }
   

  }

@media (min-width:960px){
    .root{
        height: 600px;
        width: 750px;
        background-color:rgb(238, 243, 250);
        position: fixed;
        border:16px solid #fff;
        border-radius: 3%;
        
    }
    .scrolll{
        width: 100px;
        height: 400px;
    }
}