.root{
    height: 600px;
    background-color: white;
    position: fixed;
    
}
@media (min-width :360px) 
{
    .root{
    width: 300px;
    }
   
  }
  @media (min-width :768px) 
{
    .root{
    width: 700px;
    }
   
  }
  @media (min-width :800px) 
  {
      .root{
      width: 750px;
      }
     
    }