.root{
    height: 600px;
    background-color:rgb(238, 243, 250);
    position: fixed;
    border:16px solid #fff;
    border-radius: 3%;
    
}

@media (min-width :768px) 
{
    .root{
        height: 600px;
        background-color:rgb(238, 243, 250);
       
        border:16px solid #fff;
        border-radius: 3%;
    }
   

  }

