.root{
    height: 630px;
    width: 90%;
    background-color:rgb(238, 243, 250);

    position: fixed;
    margin-top: -210px;
    border:16px solid #fff;
    border-radius: 3%;
   

    
}
@media (max-width :414px) 
{
    .root{
    width:300px;
    margin-left: -100px;
    
    }
   
  }
  @media (max-width :769px) 
{
    .root{
    width: 700px;
    height: 500px;
    }
   
  }
  @media (min-width :800px) 
  {
      .root{
      width: 750px;
      }
     
    }